{% extends 'base.html.twig' %}

{% block title %}HomePage of my website{% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="jumbotron bg-info mb-5">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <h2>Our most pupolar flats</h2>

    <div class="row mb-5">

        <div class="col mb-3">
            <div class="card text-center bg-light">
                <div class="card-header">
                    2 bedrooms 50€ / night </br>
                    No notation yet
                </div>
                <div class="card-body">
                <img src="https://via.placeholder.com/250x150" atl=""/>
                    <h5 class="card-title mt-2">Beautiful flat</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rhoncus magna. Donec finibus maximus aliquam. Suspendisse potenti.</p>
                    <a href="#" class="btn btn-primary">Informations</a>
                </div>
            </div>
        </div>
    
        <div class="col mb-3">
            <div class="card text-center bg-light">
                <div class="card-header">
                    2 bedrooms 50€ / night </br>
                    No notation yet
                </div>
                <div class="card-body">
                <img src="https://via.placeholder.com/250x150" atl=""/>
                    <h5 class="card-title mt-2">Beautiful flat</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rhoncus magna. Donec finibus maximus aliquam. Suspendisse potenti.</p>
                    <a href="#" class="btn btn-primary">Informations</a>
                </div>
            </div>
        </div>

        <div class="col mb-3">
            <div class="card text-center bg-light">
                <div class="card-header">
                    2 bedrooms 50€ / night </br>
                    No notation yet
                </div>
                <div class="card-body">
                <img src="https://via.placeholder.com/250x150" atl=""/>
                    <h5 class="card-title mt-2">Beautiful flat</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rhoncus magna. Donec finibus maximus aliquam. Suspendisse potenti.</p>
                    <a href="#" class="btn btn-primary">Informations</a>
                </div>
            </div>
        </div>
    
    </div>


    <h2>Our popular landlords</h2>

    <div class="row mb-5">

        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-header">
                    NickName </br>
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-2">* Premium Host *</h5>
                    <p class="card-text">
                        <img class ="float-left mr-3" src="https://via.placeholder.com/64" atl=""/>
                        Information about the host : 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aenean quis rhoncus magna. Donec finibus maximus aliquam. 
                        Suspendisse potenti.
                    </p>
                    <div class="text-right">
                        <a href="#" class="btn btn-info  bg-secondary border-info">See more</a>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-header">
                    NickName </br>
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-2">* Premium Host *</h5>
                    <p class="card-text">
                        <img class ="float-left mr-3" src="https://via.placeholder.com/64" atl=""/>
                        Information about the host : 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aenean quis rhoncus magna. Donec finibus maximus aliquam. 
                        Suspendisse potenti.
                    </p>
                    <div class="text-right">
                        <a href="#" class="btn btn-info  bg-secondary border-info">See more</a>
                    </div>    
                </div>
            </div>
        </div>    
    </div>


</div>



{% endblock %}

